* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}
p {
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    color: antiquewhite;
}
h3 {
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    color: antiquewhite;
}
.calculadora {
    background-color: #000000c3;
    background: linear-gradient(63deg, rgb(25, 67, 101), rgb(35, 84, 124) 50%, rgb(34, 105, 180));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.342);
    width: 300px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #000000;
    background-color:  #f0f0f0;
}
.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    padding: 20px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ddd;
}
button:active {
    background-color: #ccc;
}
.historial-btn, .borrar-historial-btn{
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #83abc8;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
.historial-btn:hover {
    background-color: #000000;
}
.historial {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    font-family: monospace;
}
.borrar-historial-btn:hover{
    background-color: #000000;
}